/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
body {
	background-color: white;
	margin: 0;
	padding: 0;
}
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
img {
	width: 35rem;
	height: 5.78rem;
}
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

